.App {
  background: repeating-radial-gradient( circle at 0 0, transparent 0, #f7e6f7 36px ), repeating-linear-gradient( #e66cf155, #e66cf1 ); 
  /* background */
  text-align: center;
  font-family: 'DM Sans', sans-serif;
}

.title {
  font-weight: 700;
  font-size: calc(20px + 2vmin);
  padding: 16px;
}

.subtitle {
  font-weight: 400;
  font-size: calc(8px + 2vmin);
  padding-bottom: 4px;
}

.subtitle2 {
  font-weight: 400;
  font-size: calc(4px + 2vmin);
}

.App-logo {
  height: 20vmin;
  border-radius: 200px;
  pointer-events: none;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3); 
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.icons {
  display: flex;
}

.glass-card {
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: 20px;
  backdrop-filter: blur(6px) saturate(128%);
  -webkit-backdrop-filter: blur(6px) saturate(128%);
  padding-top: 28px;
  padding-right: 28px;
  padding-left: 28px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, .2);
  border: 1px solid rgba(209, 213, 219, 0.3);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.2); 
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.2);
}  

.button {
  margin: auto;
}

a {
  text-decoration: none;
  color: #333;
  width: 100%;
  margin: auto;
}

.neomorphism {
  border-radius: 50px;
  border: 1px solid rgba(209, 213, 219, .3);
  background-color: rgba(255, 255, 255, .4);
  display: flex; /* vertical align */
  width: 100%;
  padding: 0vmin;
  height: calc(20px + 4vmin);
  font-size: calc(8px + 2vmin);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1); 
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
  backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.neomorphism:hover {
  cursor: pointer;
  border: 1px solid rgba(209, 213, 219, 0.3);
  background-color: rgba(255, 255, 255, .6);
}

.spacing {
  padding: 16px;
}

.medium-spacing {
  padding: 12px;
}

.button-spacing {
  padding: 8px;
}

.small-spacing {
  padding: 6px;
}

.header-spacing {
  padding: 4px;
}

.tiny-spacing {
  padding:2px;
}